table {
    width: 100%;
    border-collapse: collapse;
}

thead > tr th {
    @apply flex items-center justify-start gap-1 bg-Gray-50 text-xs text-Gray-600 font-semibold px-6 py-3 w-full text-left whitespace-nowrap
}

thead > tr th:first-child {
    @apply gap-3
}

tr {
    @apply flex items-center w-full border-b border-Gray-200
}

td {
    @apply text-sm text-left text-Gray-600 font-regular whitespace-nowrap px-6 py-4 overflow-hidden text-ellipsis
}

input[type="checkbox"] {
    @apply border border-Gray-300 rounded-md cursor-pointer;
}

.team-management-table::-webkit-scrollbar {
    height: 16px;
}

.team-management-table::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

.team-management-table::-webkit-scrollbar-thumb {
    background-color: #E4E7EC;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: padding-box;
}