@tailwind base;
@tailwind components;
@tailwind utilities;

/* added as tailwind instead in layout.tsx file */
/* html {
  font-size: 16px !important;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

input{
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

::-webkit-scrollbar {
  width: 5px;
}

input[type="number"]{
  @apply [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [appearance:textfield];
}

::-webkit-scrollbar-track {
  background-color: #D0D5DD;
  border-radius: 18px;
}

::-webkit-scrollbar-thumb {
  background-color: #002949;
  border-radius: 18px;
}

.dashboard-pages-wrapper {
  @apply w-full h-full flex flex-col items-start gap-6 md:gap-8
}

.settings-frames-wrapper {
  @apply flex flex-col items-center gap-4 md:gap-6 w-full
}

.settings-single-frame-wrapper {
  @apply flex flex-col md:flex-row items-start justify-start gap-4 md:gap-8 w-full
}

.settings-single-frame-text-wrapper {
  @apply max-w-[18.875rem] w-full
}

.settings-single-frame-heading {
  @apply text-md text-Gray-900 font-semibold
}

.settings-single-frame-text {
  @apply text-sm text-Gray-600 font-regular
}

hr {
  @apply bg-Gray-200 w-full
}

.sidebar-link-item {
  @apply flex items-center justify-start gap-3 w-full py-3 px-4 rounded-lg border-transparent hover:bg-Brand-600 whitespace-nowrap font-semibold cursor-pointer select-none transition-colors
}

@keyframes appearance-in {
  0% {
    opacity: 0;
    transform: translateZ(0) scale(0.95);
  }

  60% {
    opacity: 0.75;
    backface-visibility: hidden;
    webkit-font-smoothing: antialiased;
    transform: translateZ(0) scale(1.05);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}

.animate-appearance-in {
  animation: appearance-in 250ms ease-out normal both;
}