@keyframes bot-opening-kf {
    from {
        transform: translateX(0);
    }
    to {
      transform: translateX(+120%);
    }
}
  
.custom-bot-opening {
    animation: bot-opening-kf 1s ease-in-out forwards;
}


@keyframes bot-closing-kf {
    from {
        transform: translateX(120%);
    }
    to {
        transform: translateX(0);
    }
}
  
.custom-bot-closing {
    animation: bot-closing-kf 1s ease-in-out forwards;
}

.custom-bot-menu-gradient{
    background:linear-gradient(rgba(2, 173, 255,32%) 0%,rgba(255,255,255 , 32%) 50% );
}
